/* global variables */
:root{
     --primaryColor:rgb(12, 12, 81);
     --secondaryColor:rgb(217, 208, 193);
}
*{
     margin:0;
     padding:0;
     box-sizing: border-box;
}
body{
     background-color: seashell;
}
header,footer{
     background-color: maroon;
     color: azure;
}
header{
     height: 75px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
header *{
     margin: 25px;
}
.sectionHide{
     /* display: none;   */
     visibility:hidden;
}
.sectionVisible{
     /* display:inline; */
     visibility: visible;
}
#container{
     width: 90vw;
     margin: 20px auto;
     font-size: 25px;
     background-color: seashell;
     color: blueviolet;
     border: 1px solid orange;
}

#container *{
     margin: 5px;
}
/* section #start{
     /* border: 1px solid blue;  */
     /* width: 90vw; */
     /* flex-basis:300px; 
} */
#questions{
     color: var(--primaryColor);
}
#options{
     display: flex;
     flex-wrap: wrap;
}
button{
     padding: 20px;
     background:var(--primaryColor);
     color:var(--secondaryColor);
     margin:0 5px;
}
/* #result{
     display: none;
} */
footer{
     height: 50px;
     text-align: center;
}
footer h4{
     padding: 10px;
}
